<div class="add-contractor-page">
  <div class="add-contractor-form">

      <form [formGroup]="contractorForm"  *ngIf="showAddForm">
        <h4 class="text-on-form">Unesite sledeće podatke za novog izvođača.</h4>
        
        <div class="form-group">       
            <label for="PIB">PIB</label>
          <input type="text" id="pib" class="form-control" formControlName="pib" />
          <div class="validators" *ngIf="contractorForm.controls['pib'].hasError('required') && contractorForm.controls['pib'].dirty">
           {{validationMessages.pib.required}}
          </div>
          <div class="validators" *ngIf="contractorForm.controls['pib'].hasError('minlength') || contractorForm.controls['pib'].hasError('maxlength')">
            {{validationMessages.pib.pattern}}
          </div>
        </div>

        <div class="form-group">
          <label for="NAZIV">Naziv</label>
          <input type="text" id="naziv" class="form-control" formControlName="naziv" />
          <div class="validators" *ngIf="contractorForm.controls['naziv'].hasError('required') && contractorForm.controls['naziv'].dirty">
            {{validationMessages.naziv.required}}
          </div>
        </div>

        <div class="form-group">
            <label for="TEKRACUN">Tekući racun</label>
            <input type="text" id="tekracun" class="form-control" formControlName="tekracun" />
            <div class="validators" *ngIf="contractorForm.controls['tekracun'].hasError('required') && contractorForm.controls['tekracun'].dirty">
              {{validationMessages.tekracun.required}}
            </div>
            <div class="validators" *ngIf="contractorForm.controls['tekracun'].hasError('minlength') && contractorForm.controls['tekracun'].dirty">
              {{validationMessages.tekracun.minLength}}
            </div>
            <div class="validators" *ngIf="contractorForm.controls['tekracun'].hasError('maxlength') && contractorForm.controls['tekracun'].dirty">
              {{validationMessages.tekracun.maxLength}}
            </div>
            <div class="validators" *ngIf="contractorForm.controls['tekracun'].hasError('pattern') && contractorForm.controls['tekracun'].dirty">
              {{validationMessages.tekracun.pattern}}
            </div>
          </div>

          <div class="form-group">
            <label for="SIFRA">Šifra delatnosti</label>
            <input type="text" id="sifra" class="form-control" formControlName="sifra" />
            <div class="validators" *ngIf="contractorForm.controls['sifra'].hasError('pattern') && contractorForm.controls['sifra'].dirty">
              {{validationMessages.sifra.pattern}}
            </div>
            <div class="validators" *ngIf="contractorForm.controls['sifra'].hasError('required') && contractorForm.controls['sifra'].dirty">
              {{validationMessages.sifra.required}}
              </div>
          </div>

          <div class="form-group">
            <label for="ime">Ime i prezime direktora</label>
            <input type="text" id="ime" class="form-control" formControlName="ime" />
            <div class="validators" *ngIf="contractorForm.controls['ime'].hasError('pattern') && contractorForm.controls['ime'].dirty">
              {{validationMessages.ime.pattern}}
            </div>
            <div class="validators" *ngIf="contractorForm.controls['ime'].hasError('required') && contractorForm.controls['ime'].dirty">
              {{validationMessages.ime.required}}
                </div>
          </div>
          
          <div class="form-group">
            <label for="JMBG">JMBG direktora</label>
            <input type="text" id="jmbg" class="form-control" formControlName="jmbg" />
            <div class="validators" *ngIf="contractorForm.controls['jmbg'].hasError('pattern') && contractorForm.controls['jmbg'].dirty">
              {{validationMessages.jmbg.pattern}}
            </div>
            <div class="validators" *ngIf="contractorForm.controls['jmbg'].hasError('required') && contractorForm.controls['jmbg'].dirty">
              {{validationMessages.jmbg.required}}
                </div>
                <div class="validators" *ngIf="contractorForm.controls['jmbg'].hasError('minlength') && contractorForm.controls['jmbg'].dirty">
                  {{validationMessages.jmbg.minLength}}
                  </div>
                  <div class="validators" *ngIf="contractorForm.controls['jmbg'].hasError('maxlength') && contractorForm.controls['jmbg'].dirty">
                    {{validationMessages.jmbg.maxLength}}
                  </div>
          </div>
          
        <p class="form-group">Adresa</p>
        
        <div class="combobox-row">
          <div class="form-group">
            <label for="mesto">Mesto:</label>
            <select id="mesto" formControlName="mesto">
              <option disabled selected value ="-">Izaberite mesto:</option>
              <option *ngFor="let city of cities" [value]="city.ptt">{{ city.naziv }}</option>
            </select>

          </div>
          <div class="form-group">
            <label for="ulica">Ulica:</label>
            <select id="ulica" formControlName="ulica">
              <option disabled selected value ="-">Izaberite ulicu:</option>
              <option *ngFor="let str of streets" [value]="str.ptt + ',' + str.id">{{ str.naziv }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="broj">Broj:</label>
            <select id="broj"  formControlName="broj">
              <option disabled selected value ="-">Izaberite broj:</option>
              <option *ngFor="let nmb of numbers" [value]="">{{ nmb.broj }}</option>
            </select>
          </div>
        </div>
        
        <div class="btn-container">
            <button type="submit" class="btn-addC" [disabled]="!contractorForm.valid " (click)="addContractor($event)">Zapamti</button>
            <button type="reset" class="btn-ponisti" >Poništi</button>
            <button type="submit" class="btn-addC" (click)="toggleForm()" >Pronađi izvođača</button>
          </div>
      </form>
















      <form [formGroup]="searchForm"  *ngIf="!showAddForm">
        <h4 class="text-on-form">Unesite PIB ili naziv da pretražite izvođače u sistemu.</h4>
        
<div class="search-container">
  <input type="text" formControlName="searchQuery" (input)="onSearch()">
  <ul *ngIf="searchResults.length > 0 && searchForm.value.searchQuery">
    <li *ngFor="let result of searchResults"
        (click)="selectSearchResult(result)">
      {{ result.pib }} || {{result.naziv}}
    </li>
  </ul>
</div>

        <div class="form-group">       
            <label for="PIB">PIB</label>
          <input type="text" id="pib" class="form-control" formControlName="pib"
           [readonly]=true [ngClass]="{'readonly-field': true}" />
          <div class="validators" *ngIf="searchForm.controls['pib'].hasError('required') && searchForm.controls['pib'].dirty">
            {{validationMessages.pib.required}}
          </div>
          <div class="validators" *ngIf="searchForm.controls['pib'].hasError('minlength') || searchForm.controls['pib'].hasError('maxlength')">
            {{validationMessages.pib.pattern}}
          </div>
        </div>

        <div class="form-group">
          <label for="NAZIV">Naziv</label>
          <input type="text" id="naziv" class="form-control" formControlName="naziv" />
          <div class="validators" *ngIf="searchForm.controls['naziv'].hasError('required') && searchForm.controls['naziv'].dirty">
            {{validationMessages.naziv.required}}
          </div>
        </div>

        <div class="form-group">
            <label for="TEKRACUN">Tekući racun</label>
            <input type="text" id="tekracun" class="form-control" formControlName="tekracun" />
            <div class="validators" *ngIf="searchForm.controls['tekracun'].hasError('required') && searchForm.controls['tekracun'].dirty">
              {{validationMessages.tekracun.required}}
            </div>
            <div class="validators" *ngIf="searchForm.controls['tekracun'].hasError('minlength') && searchForm.controls['tekracun'].dirty">
              {{validationMessages.tekracun.minLength}}
            </div>
            <div class="validators" *ngIf="searchForm.controls['tekracun'].hasError('maxlength') && searchForm.controls['tekracun'].dirty">
              {{validationMessages.tekracun.maxLength}}
            </div>
            <div class="validators" *ngIf="searchForm.controls['tekracun'].hasError('pattern') && searchForm.controls['tekracun'].dirty">
              {{validationMessages.tekracun.pattern}}
            </div>
          </div>  

          <div class="form-group">
            <label for="SIFRA">Šifra delatnosti</label>
            <input type="text" id="sifra" class="form-control" formControlName="sifra" 
            [readonly]=true [ngClass]="{'readonly-field': true}"/>
            <div class="validators" *ngIf="searchForm.controls['sifra'].hasError('pattern') && searchForm.controls['sifra'].dirty">
              {{validationMessages.sifra.pattern}}
            </div>
            <div class="validators" *ngIf="searchForm.controls['sifra'].hasError('required') && searchForm.controls['sifra'].dirty">
              {{validationMessages.sifra.required}}
              </div>
          </div>
          
          <div class="form-group">
            <label for="ime">Ime i prezime direktora</label>
            <input type="text" id="ime" class="form-control" formControlName="ime" />
            <div class="validators" *ngIf="searchForm.controls['ime'].hasError('pattern') && searchForm.controls['ime'].dirty">
              {{validationMessages.ime.pattern}}
            </div>
            <div class="validators" *ngIf="searchForm.controls['ime'].hasError('required') && searchForm.controls['ime'].dirty">
              {{validationMessages.ime.required}}
                </div>
          </div>
          
          <div class="form-group">
            <label for="JMBG">JMBG direktora</label>
            <input type="text" id="jmbg" class="form-control" formControlName="jmbg" />
            <div class="validators" *ngIf="searchForm.controls['jmbg'].hasError('pattern') && searchForm.controls['jmbg'].dirty">
              {{validationMessages.jmbg.pattern}}
            </div>
            <div class="validators" *ngIf="searchForm.controls['jmbg'].hasError('required') && searchForm.controls['jmbg'].dirty">
              {{validationMessages.jmbg.required}}
                </div>
                <div class="validators" *ngIf="searchForm.controls['jmbg'].hasError('minlength') && searchForm.controls['jmbg'].dirty">
                  {{validationMessages.jmbg.minLength}}
                  </div>
                  <div class="validators" *ngIf="searchForm.controls['jmbg'].hasError('maxlength') && searchForm.controls['jmbg'].dirty">
                    {{validationMessages.jmbg.maxLength}}
                  </div>
          </div>
        <p class="form-group">Adresa</p>
        
        
        <div class="combobox-row">
          <div class="form-group">
            <label for="mesto">Mesto:</label>
            <select id="mesto" formControlName="mesto">
              <option value="" selected disabled>Izaberite grad:</option>
              <option *ngFor="let city of cities" [value]="city.naziv">{{ city.naziv }}</option>
            </select>

          </div>
          <div class="form-group">
            <label for="ulica">Ulica:</label>
            <select id="ulica" formControlName="ulica">
              <option value="" selected disabled>Izaberite ulicu:</option>
              <option *ngFor="let str of streets" [value]="str.naziv">{{ str.naziv }}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="broj">Broj:</label>
            <select id="broj"  formControlName="broj">
              <option value="" selected disabled>Izaberite broj:</option>
              <option *ngFor="let nmb of numbers" [value]="nmb.broj">{{ nmb.broj }}</option>
            </select>
          </div>
        </div>

        <div class="btn-container">
            <button type="submit" class="btn-addC" [disabled]="!searchForm.valid" (click)="editContractor($event)">Zapamti izmene</button>
            <button type="reset" class="btn-ponisti" (click)="onReset()" >Poništi</button>
            <button type="submit" class="btn-addC" (click)="toggleForm()" >Dodaj novog izvođača</button>
          </div>
      </form>



    </div>
  </div>
  