nav {
    background-color: rgb(96, 108, 93);
    color:rgb(96, 108, 93);
    padding: 10px;
  }
  
  ul {
    list-style: none;
    display: flex;
    justify-content: right;
  }
  
  li {
    margin: 0 15px;
  }
  
  a {
    color:rgb(247, 230, 196);
    text-decoration: none;
  }
  