<div class="home">
  <div class="content">
    <div class="header">
      <h1>Dobrodošli na početnu stranicu građevinske firme.</h1>
    </div>
    <div class="carousel-container">
      <app-carousel></app-carousel>
    </div>
    <div class="welcome">
      <hr class="rounded">
      <p>Radove izvodimo samo sa visokokvalitetnim građevinskim materijalima. Takođe posedujemo svu potrebu mehanizaciju i prateću pomoćnu opremu za realizaciju različitih projekata. 
       Firma je siguran realizator dogovorenih građevinskih projekata.</p>
       <hr class="rounded">
    </div>
    <div class="cards">
      <div class="card">
        <div class="title">
          <h2>KVALITET RADA</h2>
          </div>
          <div class="card-content">
            <p>Firma zapošljava različite stručnjake, pri čemu dominiraju građevinski inženjeri, arhitekte, elektroinženjeri i mašinski inženjeri.</p>
          </div>
      </div>

      <div class="card">
        <div class="title">
          <h2>PROJEKTOVANJE</h2>
          </div>
          <div class="card-content">
            <p>Naša izvanredna stručnost u oblasti projektovanja i građevinskih rešenja čini nas neprikosnovenim liderom u industriji. 
              Već decenijama postavljamo standarde izvrsnosti i kvaliteta u građevinskom sektoru</p>
          </div>
      </div>

      <div class="card">
        <div class="title">
          <h2>STRATEGIJA</h2>
          </div>
          <div class="card-content">
            <p>Strategija naše kompanije ogleda se u izvrsnoj saradnji sa izvođačima radova i dogovaranju i projektovanju realne strategije za izvođenje projekata.</p>
          </div>
      </div>
      
      <div class="card">
        <div class="title">
          <h2>BEZBEDNOST</h2>
          </div>
          <div class="card-content">
            <p>Građevinsko preduzeće poklanja veliku pažnju bezbednosti pri realizaciji projekata, naročito radnika.</p>
          </div>
        </div>

      <div class="card">
        <div class="title">
          <h2>KOMUNIKACIJA</h2>
          </div>
          <div class="card-content">
            <p>Komunikacija je svedena na jednog čoveka koji iza sebe ima čitav tim saradnika koji ispunjavaju profesionalno i odgovorno svoje zadatke .</p>
          </div>
        </div>

      <div class="card">
        <div class="title">
          <h2>ODRŽIVOST</h2>
          </div>
          <div class="card-content">
            <p>Imamo veliki krug izvođača i dobavljača koji partnerskim pristupom, doprinose uspešnoj realizaciji projekata.</p>
          </div>
        </div>

    </div>
      </div>
    </div>